<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Vocabulary</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Add Vocabulary</h1>
      <form method="post" enctype="multipart/form-data">
        <label for="topic_id">Topic:</label>
        <select id="topic_id" name="topic_id" required>
          {% for topic in topics %}
          <option value="{{ topic[0] }}">{{ topic[1] }}</option>
          {% endfor %}</select
        ><br />
        <label for="vocabulary_en">Vocabulary (English):</label>
        <input
          type="text"
          id="vocabulary_en"
          name="vocabulary_en"
          required
        /><br />
        <label for="vocabulary_tw">Vocabulary (Chinese):</label>
        <input
          type="text"
          id="vocabulary_tw"
          name="vocabulary_tw"
          required
        /><br />
        <label for="part_of_speech">Part of Speech:</label>
        <input
          type="text"
          id="part_of_speech"
          name="part_of_speech"
          required
        /><br />
        <label for="ipa">IPA:</label>
        <input type="text" id="ipa" name="ipa" required /><br />
        <label for="example">Example:</label>
        <input type="text" id="example" name="example" required /><br />
        <label for="class">Class:</label>
        <select id="class" name="class" required>
          <option value="A1">A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option></select
        ><br />
        <label for="vocabulary_voice">Upload Voice (MP3):</label>
        <input
          type="file"
          id="vocabulary_voice"
          name="vocabulary_voice"
          accept=".mp3"
          required
        /><br /><br />
        <input type="submit" value="Add Vocabulary" />
      </form>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
  </body>
</html>
