Flask
Flask-SQLAlchemy
PyMySQL
mysql-connector-python
cursor
pip install oauthlib requests-oauthlib
pip install oauthlib requests-oauthlib flask
pip install flask mysql-connector-python oauthlib requests
pip install spacy
python -m spacy download en_core_web_sm
