Flask
Flask-SQLAlchemy
PyMySQL
mysql-connector-python
cursor
flask-blueprint
pip install oauthlib requests-oauthlib
pip install oauthlib requests-oauthlib flask
pip install flask mysql-connector-python oauthlib requests
pip install sentence-transformers