<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>編輯角色</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>編輯角色</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="character_name">角色名稱:</label>
        <input type="text" id="character_name" name="character_name" value="{{ character[1] }}" required><br>

        <label for="icon">圖示:</label>
        <input type="file" id="icon" name="icon"><br>

        <input type="hidden" name="situation_id" value="{{ situation_id }}">
        
        <input type="submit" value="更新角色">
    </form>

    <a href="{{ url_for('admin.characters', situation_id=situation_id) }}" class="back-button">返回角色總覽</a>
</body>
</html>
