<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>歡迎來到EUDORA</h1>
    <div class="main-buttons">
        <button onclick="location.href='{{ url_for('daily_quotes') }}'">每日三句</button>
        <button onclick="location.href='{{ url_for('vocabulary_topics') }}'">单词练习</button>
    </div>
    <p>使用者: {{ user_email }}</p>  <!-- 顯示固定的GoogleEmail -->
</body>
</html>
